:root {
  --text: #656375;
  --text-h: #08060d;
  --text-muted: #6e6d74;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #4e63db;
  --accent-bg: #4e63db1a;
  --accent-border: #4e63db80;
  --button-text: #fff;
  --button-bg: #c62828;
  --button-bg-focus: #e53935;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --text-muted: #abaeb3;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #4e63db;
    --accent-bg: rgba(78, 99, 219, 0.1);
    --accent-border: rgba(78, 99, 219, 0.5);
  }
}

body {
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  
  min-height: 100svh;
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-areas: 
    "header"
    "main"
    "footer";

  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  line-height: 0.9;
}

h1 {
  font-size: 40px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 32px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}
