.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 span {
    font-family: 1.2em;
    color: var(--accent);
}

.description {
    color: var(--text);
}

.storageBarContainer {
    width: 100%;
    padding: 1px;
    height: 20px;
    border: 1px solid var(--border);
    border-radius: 6px;
    overflow: hidden;
}

.storageBar {
    border-radius: 5px;
    height: 100%;
    background: var(--accent);
}

.btnContainer {
    display: flex;
    gap: 10px;
}

.routeBtn {
    padding: 10px 20px;
    background-color: var(--bg);
    border: 2px solid var(--accent);
    border-radius: 10px;
    text-decoration: none;
    font-style: 16px;
    font-weight: 500;
    color: var(--accent);
    transition: 
        border 0.3s linear, 
        color 0.3s linear,
        background-color 0.2s ease-in-out;
    
    &:hover {
        background-color: var(--accent);
        color: var(--bg);
    };
}