#parent {
    height: 200px;
    width: 600px;
    border: 2px solid black;
    display: flex; 
    /* flex | inline-flex */
    flex-direction: row;
    /* row | row-reverse | column | column-reverse */
    justify-content: flex-start;  /* Выравнивание по основной оси flex-direction*/
    /* flex-start - вырвание в начале оси (начальный) 
    | flex-end - выравнивает к концу оси
    | centre - вывавнивает по центру родительского контейнера
    | space-between - вывавнивает по всей длине контейнера с равными пробелами м/у элементами
    | space-around - выравнивает по длине с равными отступами вокруг элемента
    | space-evenly - выравнивает по длине с равными отступами м/у элементами и границами 
    */
    align-items: flex-start;  /* Выравнивание по поперечной оси flex-direction*/
    /* flex-start - выравнивание к началу поперечной оси
    | flex-end - выравнивание к концу поперечной оси 
    | centre - центрирует по поперечной оси
    | stretch - растягивает элементы от начала до конца родительского контейнера (начальный)
    */
}

#first, #second, #third, #fourth {
    background-color: aqua;
    width: 200px;
    height: 100px;
    border: 1px solid red;
    background-color: burlywood;
    box-sizing: border-box;
    /* flex-grow: 1;  */
    /* коэффициент растяжения (0 - по умолчанию) */
    flex-shrink: 1; 
    /* коэффициент сжатия (1 - по умолчанию) */
}

#third {
    /* align-self: center;  Выравнивает этот элемент по поперечной оси */
    /* flex-basis: 100px; */
    /* flex-grow: 2; */
    flex-shrink: 2;
}

#box {
    width: 400px;
    height: 600px;
    border: 2px solid red;
    overflow: scroll;
    /* visible | hidden | scroll | clip */
}

#box img {
    width: 100%;
}

.card {
    padding: 20px;
    border: 2px solid grey;
    border-radius: 15px;
    transition: 0.5s;
    margin-top: 50px;
    cursor: default;
}

.card:has(input:checked) {
    border: 4px solid red;
    border-color: aliceblue;
    background-color: gray;
    box-shadow: 0 3px 10px rgba(0, 50, 100, 0.5);
}

input {
    display: none;
}

#demo {
    opacity: 30%;
    background-color: palegoldenrod;
    /* Непрозрачность элемента */
    transition: 0.5s;
}

#demo:target {
    opacity: 100%;
}