:root {
    /* COLORS */
    --accent-color: #f9a800;
    --header-bg-color: #3b3935;
    --main-bg-color: #302f2b;
    --section-bg-color: #3b3935;
    --text-color: #fdfbf7;
    --border-color: #838078;
    --alarm-color: #c80000;
    /* DIMENSIONS */
    --striped-line-width: 8px;
    /* FONTS */
    --accent-font: 'Segoe UI', sans-serif;
    --main-font: 'Courier New', monospace;
    /* GRADIENT */
    --striped-line-gradient: repeating-linear-gradient(
        45deg,
        #000, #000 10px,
        #f9a800 10px, #f9a800 20px
    );
}

/* COMMON STYLE */
*, a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

body {
    height: 100vh;
    background: var(--main-bg-color);
}

body:has(#alarm-signal.alarm) {
    animation: pulse-light 2s infinite ease-in-out;
}

@keyframes pulse-light {
    0% {
        box-shadow: inset 0 0 20px var(--alarm-color);
    }
    50% {
        box-shadow: inset 0 0 80px var(--alarm-color),
            inset 0 0 40px 2px var(--alarm-color);
    }
    100% {
        box-shadow: inset 0 0 20px var(--alarm-color);
    }
}

/* HEADER STYLE */
header {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background: var(--header-bg-color);
    margin-bottom: 30px;
}

header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    height: var(--striped-line-width);
    background: var(--striped-line-gradient);
}

.wrapper {
    height: 100%;
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    color: var(--accent-color);
    transition: transform 0.3s ease-in-out;
    margin: 15px 0;
}

.logo:hover {
    transform: scale(1.05);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo-title {
    font-family: var(--accent-font);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    color: var(--accent-color);
    text-align: center;
}

#alarm-container {
    position: relative;
    z-index: 1;
    padding: 8px 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid #2c2c2e;
    border-radius: 10px;
    overflow: hidden;
}

#alarm-container::before {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:
        inset -1px -3px 5px 1px #00000080,
        inset 1px 3px 5px 1px #ffffffbb;
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.2) 0%,
        rgba(255,255,255,0.05) 40%,
        transparent 50%
    );
    pointer-events: none;
}

#alarm-container:has(#alarm-signal.alarm)::before {
    box-shadow:
        inset -1px -3px 5px 1px #3a181880,
        inset 1px 3px 5px 1px #f5bbbbbb;
}

#alarm-signal {
    z-index: 2;
    font-family: var(--accent-font);
    font-size: 1.5rem;
    font-weight: 900;
    color: #747070;
    letter-spacing: 3px;
}

#alarm-signal.alarm {
    animation: text-blink 2s ease-in-out infinite;
}

@keyframes text-blink {
    0% {
        color: #747070;
        text-shadow: 0 0 1px rgba(200, 0, 0, 0.2);
    }

    50% {
        color: var(--alarm-color);
        text-shadow: 0 0 5px rgba(200, 0, 0, 1), 
            0 0 20px rgba(200, 0, 0, 0.8), 
            0 0 50px rgba(200, 0, 0, 0.5);
    }

    100% {
        color: #747070;
        text-shadow: 0 0 1px rgba(200, 0, 0, 0.2);
    }
}

.nav-btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-btn {
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    background: var(--border-color);
    border-radius: 6px;
    color: var(--text-color);
    transition: opacity 0.3s ease-out;
}

.nav-btn:hover {
    background: var(--striped-line-gradient);
}

.nav-btn::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: var(--header-bg-color);
    clip-path: inset(3px round 5px);
}

.nav-btn.hide {
    display: none;
}

/* MAIN STYLE */
main {
    opacity: 0;
    animation: fade-in 0.3s forwards ease-out;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

main .wrapper {
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    color: var(--text-color);
    text-transform: capitalize;
    letter-spacing: 2px;
}

/* CONTROL PANEL */
.control-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid #00000080;
    border-radius: 12px;
    background: var(--section-bg-color);
    box-shadow: inset -5px 10px 20px 1px #00000080;
    gap: 20px;
}

.control-panel-container span {
    position: relative;
    z-index: 1;
    padding: 20px;
    font-family: var(--accent-font);
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--striped-line-gradient);
    border-radius: 10px;
    color: var(--text-color);
}

.control-panel-container span::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: var(--section-bg-color);
    clip-path: inset(5px round 5px);
}

#alarm-controller {
    position: relative;
    width: 30px;
    height: 300px;
    background-color: #3d3d3d;
    border: 2px solid #00000080;
    border-radius: 3px;
    box-shadow: inset 3px 5px 10px 0 #00000080;
}

#alarm-handle {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 40px;
    background: var(--alarm-color);
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: -30px 20px 30px 10px #00000080,
        inset -2px -7px 7px 2px #00000080,
        inset 1px 3px 5px 1px #ffffffbb;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    transition: top 1.5s ease-in-out;
    cursor: grab;
}

#alarm-handle.alarm {
    top: 80%;
}
