*, a {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: lightcyan;
}

main {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
}

#registration-form {
    display: flex;
    flex-direction: column;
}

.step-block {
    display: flex;
    flex-direction: column;
}

.step-block label {
    display: ;
}