:root {
    --header-bg-color: #252525;
    --main-bg-color: #252525;
    --text-color: #f5f5f5;
    --accent-color: #00aeee;
    --accented-text-color: #fff;
    --form-bg-color: #97979780;
    --box-shadow-color: #cccccc;
    --borderd-color: #aaaaaa;
}