:root {
    --header-bg-color: #f5f5f5;
    --main-bg-color: #f5f5f5;
    --text-color: #252525;
    --accent-color: #00aeee;
    --accented-text-color: #fff;
    --form-bg-color: #4e4e4e80;
    --box-shadow-color: #808080;
    --borderd-color: #808080;
}